<div class="card">
  <div class="card-body">
    <h5 class="card-title">Registro de usuarios</h5>
    <div class="card-body">
      <form [formGroup]="searchForm">
        <div class="row">
          <div class="col-md-2">
            <a routerLink="/users/create" class="btn btn-primary">
              <i class="bi bi-person-add"></i>
              Nuevo usuario
            </a>
          </div>
          <div class="col-md-6">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Buscar"
                aria-label="textoBuscar"
                formControlName="textoBuscar"
              />
              <button
                class="btn btn-outline-primary"
                type="button"
                (click)="loadPaginationUsers()"
              >
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div>
          <div class="col-md-4">
            <select
              name="rolId"
              id="rolId"
              class="form form-control"
              formControlName="rolId"
              (change)="loadPaginationUsers()"
            >
              <option value="">Ver todos los roles</option>
              <option *ngFor="let rol of roles" [value]="rol.id">
                {{ rol.type }}
              </option>
            </select>
          </div>
        </div>
      </form>
      <table *ngIf="usersPagination" class="table table-hover w-100">
        <thead>
          <tr>
            <th>Opciones</th>
            <th>Rol</th>
            <th>Nombre</th>
            <th>Documento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usersPagination.data">
            <td>
              <a
                [routerLink]="'/users/update/' + user.id"
                class="btn btn-success"
              >
                <i class="bi bi-pencil-square"></i>
                Editar
              </a>
            </td>
            <td>{{ user.roles?.type }}</td>
            <td>{{ user.documento }}</td>
            <td>
              {{ user.nombrePrimero }}
              {{ user.nombreSegundo }}
              {{ user.apellidoPrimero }}
              {{ user.apellidoSegundo }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <app-botones-paginacion
      *ngIf="usersPagination"
      [dataPagination]="usersPagination"
      (pageChanged)="changePagination($event)"
    ></app-botones-paginacion>
  </div>
</div>
