<div class="card">
  <div class="card-body">
    <h5 class="card-title">Registro de usuarios</h5>
    <div class="card-body">
      <form [formGroup]="searchForm">
        <div class="row">
          <div class="col-md-2">
            <a routerLink="/usuarios/create" class="btn btn-primary">
              <i class="bi bi-person-add"></i>
              Nuevo usuario
            </a>
          </div>
          <div class="col-md-6">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Buscar"
                aria-label="textoBuscar"
                formControlName="textoBuscar"
              />
              <button
                class="btn btn-outline-primary"
                type="button"
                (click)="loadPaginationUsers()"
              >
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div>
          <div class="col-md-4">
            <select
              name="rolId"
              id="rolId"
              class="form form-control"
              formControlName="rolId"
              (change)="loadPaginationUsers()"
            >
              <option value="">Ver todos los roles</option>
              <option *ngFor="let rol of roles" [value]="rol.id">
                {{ rol.type }}
              </option>
            </select>
          </div>
        </div>
      </form>
      <table *ngIf="usersPagination" class="table table-hover w-100">
        <thead>
          <tr>
            <th>Opciones</th>
            <th>Rol</th>
            <th>Nombre</th>
            <th>Documento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usersPagination.data">
            <td>
              <a
                [routerLink]="'/usuarios/' + user.id + 'update/'"
                class="btn btn-success"
              >
                <i class="bi bi-pencil-square"></i>
                Editar
              </a>
            </td>
            <td>{{ user.roles?.type }}</td>
            <td>{{ user.documento }}</td>
            <td>
              {{ user.nombrePrimero }}
              {{ user.nombreSegundo }}
              {{ user.apellidoPrimero }}
              {{ user.apellidoSegundo }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="m-4">
    <div class="table-responsive">
      <nav aria-label="Navegación de páginas">
        <ul class="pagination">
          <li
            class="page-item"
            [class.disabled]="usersPagination.currentPage === 1"
          >
            <a
              class="page-link"
              href="#"
              (click)="
                $event.preventDefault();
                changePagination({
                  currentPage: usersPagination.currentPage - 1,
                  itemsPerPage: registrosPorPagina
                })
              "
              >Anterior</a
            >
          </li>
          <li class="page-item" *ngFor="let pagina of obtenerPaginas()">
            <a
              class="page-link"
              href="#"
              [class.active]="usersPagination.currentPage === pagina"
              (click)="
                $event.preventDefault();
                changePagination({
                  currentPage: pagina,
                  itemsPerPage: registrosPorPagina
                })
              "
            >
              {{ pagina }}
            </a>
          </li>
          <li
            class="page-item"
            [class.disabled]="
              usersPagination.currentPage === usersPagination.totalPages
            "
          >
            <a
              class="page-link"
              href="#"
              (click)="
                $event.preventDefault();
                changePagination({
                  currentPage: usersPagination.currentPage + 1,
                  itemsPerPage: registrosPorPagina
                })
              "
              >Siguiente</a
            >
          </li>
        </ul>
      </nav>
      <div class="col-auto">
        <label class="me-2">Registros por página:</label>
        <select
          class="form-select form-select-sm d-inline-block w-auto"
          [(ngModel)]="registrosPorPagina"
          (change)="
            changePagination({
              currentPage: 1,
              itemsPerPage: registrosPorPagina
            })
          "
        >
          <option [value]="1">1</option>
          <option [value]="5">5</option>
          <option [value]="10">10</option>
          <option [value]="25">25</option>
          <option [value]="50">50</option>
          <option [value]="100">100</option>
        </select>
      </div>
      <div class="col-md-12">
        <span class="text-muted">
          Página {{ usersPagination.currentPage }} de
          {{ usersPagination.totalPages }} | Total:
          {{ usersPagination.totalItems }} registros
        </span>
      </div>
    </div>
  </div>
</div>
