<div class="card full-height-card">
  <div class="card-header">Registros</div>
  <div class="card-body">
    <div class="row row-full">
      <div class="col-md-6">
        <div class="container-fluid">
          <form [formGroup]="miFormulario" class="row">
            <div class="col-md-6">
              <label for="fechaInicio">Fecha de inicio</label>
              <input
                id="fechaInicio"
                formControlName="fechaInicio"
                type="text"
                class="form form-control"
              />
            </div>
            <div class="col-md-6">
              <label for="fechaFin">Fecha de fin</label>
              <input
                id="fechaFin"
                formControlName="fechaFin"
                type="text"
                class="form form-control"
              />
            </div>
            <div class="col-md-12">
              <label for="usuarioId">Filtrar por caracterizador</label>
              <select
                class="form form-control"
                id="usuarioId"
                name="usuarioId"
                formControlName="usuarioId"
              >
                <option value="">Todos</option>
                <option *ngFor="let user of users" [value]="user.id">
                  {{ user.nombrePrimero }}
                  {{ user.nombreSegundo }}
                  {{ user.apellidoPrimero }}
                  {{ user.apellidoSegundo }}
                </option>
              </select>
            </div>
            <div class="col-md-12">
              <label for="municipio">Filtrar por municipio</label>
              <select
                class="form form-control"
                formControlName="municipio"
                id="municipio"
                name="municipio"
              >
                <option value="">Todos</option>
                <option
                  *ngFor="let municipality of municipalities"
                  [value]="municipality.value"
                >
                  {{ municipality.option }}
                </option>
              </select>
            </div>
            <div class="col-md-12 pt-3">
              <div class="btn-group" role="group">
                <button
                  type="button"
                  class="btn btn-primary"
                  type="submit"
                  (click)="enviarFormulario()"
                >
                  <i class="bi bi-search"></i>
                  Buscar
                </button>
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="reiniciarForm()"
                >
                  <i class="bi bi-arrow-clockwise"></i>
                  Reiniciar
                </button>
              </div>
            </div>
          </form>
          <hr />
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Detalle</th>
                <th>C&oacute;digo</th>
                <th>Fecha de registro</th>
                <th>Dirección</th>
                <th>Caracterizadas</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let card of cards">
                <td>
                  <a [routerLink]="'/ficha/' + card.id" class="btn btn-primary">
                    <i class="bi bi-person-badge-fill"></i>
                    Tarjeta
                  </a>
                </td>
                <td>{{ card.codigo }}</td>
                <td>
                  {{ card.fecha_registro | date : 'YYYY-MM-dd' }}<br />
                  {{ card.fecha_registro | date : 'HH:mm a' }}
                </td>
                <td>
                  {{ card.tarjetasFamiliares.municipio }}
                  <br />
                  {{ card.tarjetasFamiliares.direccion }}
                </td>
                <td>
                  {{ card.psicosocialPersonas.length }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6">
        <google-map
          height="100%"
          width="100%"
          [zoom]="zoom"
          [options]="options"
          [center]="center"
        >
          <map-marker
            *ngFor="let marker of markers"
            [position]="marker.position"
            [label]="marker.label"
            [options]="marker.options"
            [title]="marker.title"
          >
          </map-marker>
        </google-map>
      </div>
    </div>
  </div>
</div>
