<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Generador de formulario dinamico</div>
        <div class="card-body">
          <h1>Por favor seleccione la ficha</h1>
          <div class="row">
            <div class="col-md-12">
              <label for="fichaTipo"> Tipo de ficha </label>
              <select name="fichaTipo" id="fichaTipo" class="form form-control">
                <option value="">Seleccione</option>
                <option value="familyCard">Ficha Familiar</option>
                <option value="personCard">Ficha Personal</option>
              </select>
            </div>
            <div class="col-md-12">
              <label for="">Seleccione el grupo</label>
              <select class="form form-control" name="" id="" required>
                <option value="">Seleccione</option>
                <option *ngFor="let grupo of grupos" [value]="grupo.id">
                  {{ grupo.title }}
                </option>
              </select>
            </div>
            <div class="col-md-12">
              <label for="">Seleccione el tipo</label>
              <select class="form form-control" name="" id=""></select>
            </div>
            <div class="col-md-12">
              <label for="">Ingrese un texto para la pregunta</label>
              <input
                class="form form-control"
                type="text"
                class="form form-control"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
