<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">Generador de formulario din&aacute;mico</div>
        <div class="card-body">
          <h1>Por favor seleccione la ficha</h1>
          <form [formGroup]="formulario" (ngSubmit)="agregar()">
            <div class="col-md-12">
              <label for="version">Versi&oacute;n de la ficha</label>
              <div class="input-group">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="agregarNuevaVersion(content)"
                >
                  +
                </button>
                <select
                  (change)="cargarTipoFichas()"
                  formControlName="version"
                  class="form-select"
                  id="version"
                  required
                >
                  <option value="">Seleccione</option>
                  <option
                    [value]="version.version"
                    *ngFor="let version of versiones"
                  >
                    {{ version.nombre }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-12">
              <label for="fichaTipo">Tipo de ficha</label>

              <select
                formControlName="fichaTipo"
                id="fichaTipo"
                class="form-control"
                (change)="cargarGrupos()"
              >
                <option value="">Seleccione</option>
                <option *ngFor="let tipo of tipoCards" [value]="tipo.nombre">
                  {{ tipo.text }} - {{ tipo.tituloTexto }}
                </option>
              </select>
            </div>
            <div class="col-md-12">
              <label for="grupo">Seleccione el grupo</label>
              <div class="input-group">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="agregarNuevoGrupo(contentTipoFicha)"
                  [disabled]="formulario.get('fichaTipo')?.value === ''"
                >
                  +
                </button>
                <select
                  formControlName="grupo"
                  id="grupo"
                  class="form-control"
                  required
                >
                  <option value="">Seleccione</option>
                  <option *ngFor="let grupo of grupos" [value]="grupo.id">
                    {{ grupo.title }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <label for="label">Ingrese un texto para la pregunta</label>
              <input
                (click)="selectAllText($event)"
                formControlName="label"
                id="label"
                class="form-control"
                type="text"
              />
            </div>
            <div class="col-md-12">
              <label for="tipo">Seleccione el tipo de pregunta</label>
              <select
                formControlName="tipo"
                id="tipo"
                class="form-control"
                required
              >
                <option
                  *ngFor="let tipo of tipos"
                  [value]="obtenerTipoInput(tipo)"
                >
                  {{ tipo }}
                </option>
              </select>
            </div>
            <div
              class="col-md-12"
              *ngIf="formulario.value.tipo === 'selectDependiente'"
            >
              <label for="nombrePadreDependiente">
                Seleccione el select padre dependiente
              </label>
              <select
                formControlName="nombrePadreDependiente"
                name="nombrePadreDependiente"
                class="form form-control"
                id="nombrePadreDependiente"
              >
                <option value="">Seleccione</option>
                <option
                  *ngFor="let tipos of preguntasFiltradasPorForm"
                  [value]="tipos.columnName"
                >
                  {{ tipos.label }}
                </option>
              </select>
            </div>
            <ng-container *ngIf="isShowJson">
              <span class="text-bg-primary text-center"
                >Agregar opciones en JSON</span
              >
              <textarea
                name="optionsJSON"
                id="optionsJSON"
                formControlName="optionsJSON"
                class="form form-control"
                rows="10"
                (click)="selectAllText($event)"
              ></textarea>
              <div class="m-1" style="background-color: #f1f1f1">
                &#91; &lbrace;
                {{
                  formulario.value.tipo === 'selectDependiente'
                    ? '"valueDependiente": "19",'
                    : ''
                }}
                "value": "CC", "option": "Cédula de Ciudadanía" &rbrace;,
                &lbrace;
                {{
                  formulario.value.tipo === 'selectDependiente'
                    ? '"valueDependiente": "19",'
                    : ''
                }}
                "value": "TI", "option": "Tarjeta de Identidad" &rbrace;,
                &lbrace;
                {{
                  formulario.value.tipo === 'selectDependiente'
                    ? '"valueDependiente": "19",'
                    : ''
                }}
                "value": "CE", "option": "Cédula de Extranjería" &rbrace;,
                &lbrace;
                {{
                  formulario.value.tipo === 'selectDependiente'
                    ? '"valueDependiente": "19",'
                    : ''
                }}
                "value": "PAS", "option": "Pasaporte" &rbrace;, &lbrace;
                {{
                  formulario.value.tipo === 'selectDependiente'
                    ? '"valueDependiente": "19",'
                    : ''
                }}
                "value": "RC", "option": "Registro Civil" &rbrace; &#93;
              </div>
              <hr />
              <div class="col-md-12" *ngIf="isShowJson"></div>
              <hr />
            </ng-container>

            <div class="col-md-12">
              <div class="form-check">
                <input
                  formControlName="esRequerido"
                  id="esRequerido"
                  class="form-check-input"
                  type="checkbox"
                />
                <label class="form-check-label" for="esRequerido">
                  Es requerido
                </label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-check">
                <input
                  *ngIf="formulario.value.tipo !== ''"
                  formControlName="esVisibleSi"
                  id="esVisibleSi"
                  (change)="desmarcarSiEsVisible($event)"
                  class="form-check-input"
                  type="checkbox"
                />
                <label class="form-check-label" for="esVisibleSi">
                  Visible con condici&oacute;n
                </label>
              </div>
            </div>
            <app-is-visible
              *ngIf="esVisibleSi"
              [formularioGenerado]="formularioGenerado"
              [tipoCards]="tipoCards"
              [version]="formularioGenerado.version"
              (reglaEmitter)="guardarRegla($event)"
            ></app-is-visible>

            <div class="card-footer">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button
                  *ngIf="!esEditable"
                  type="submit"
                  class="btn btn-success"
                  [disabled]="!isValidForm"
                >
                  <i class="bi bi-file-earmark-plus"></i>
                  Agregar
                </button>
                <button
                  *ngIf="esEditable"
                  type="button"
                  (click)="guardarEdicion()"
                  class="btn btn-primary"
                  [disabled]="!isValidForm"
                >
                  <i class="bi bi-pencil-square"></i>
                  Editar
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="guardarFormulario()"
                >
                  <i class="bi bi-floppy2"></i>
                  Formulario
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-8" *ngIf="formularioGenerado !== null">
      <div class="container mt-4">
        <ul ngbNav #nav="ngbNav" class="nav nav-tabs">
          <li *ngFor="let tipo of tipoCards; let i = index" [ngbNavItem]="i">
            <a ngbNavLink class="navbar-items">{{ tipo.tituloTexto }}</a>
            <ng-template ngbNavContent>
              <ngb-accordion
                #acc="ngbAccordion"
                activeIds="panel-0"
                class="mt-3"
              >
                <ngb-panel
                  [id]="'panel-' + tipo.nombre + '-' + indexSteper"
                  class="mb-4"
                  *ngFor="
                let steper of formularioGenerado?.[tipoData[tipo.nombre]] ;
                let indexSteper = index"
                  style="max-height: 96.5vh; overflow: scroll"
                >
                  <ng-template ngbPanelTitle>
                    <span>
                      {{ (steper?.orden ?? 0) + 1 }}) {{ steper.title }} [{{
                        steper.values?.length
                      }}]
                    </span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="scrollable">
                      <table class="table">
                        <tr
                          class="table-group-divider"
                          *ngFor="
                            let value of steper.values;
                            let indexValue = index
                          "
                        >
                          <td>
                            {{ value.label }}
                            <br />
                            <div class="btn-group">
                              <button
                                (click)="
                                  editar(
                                    tipo.nombre,
                                    indexSteper,
                                    indexValue,
                                    value
                                  )
                                "
                                type="button"
                                class="btn btn-primary"
                              >
                                Editar
                              </button>
                              <button
                                (click)="
                                  eliminar(tipo.nombre, indexSteper, indexValue)
                                "
                                type="button"
                                class="btn btn-danger"
                              >
                                Eliminar
                              </button>
                              <select
                                [name]="'eliminar-' + indexValue.toString()"
                                [id]="'eliminar-' + indexValue.toString()"
                                (change)="
                                  cambioItem(
                                    $event,
                                    value,
                                    indexSteper,
                                    tipo.nombre
                                  )
                                "
                              >
                                <option
                                  *ngFor="
                                    let i of [].constructor(
                                      steper.values?.length || 0
                                    );
                                    let index = index
                                  "
                                  [value]="index"
                                  [selected]="index === (value?.orden ?? -1)"
                                >
                                  {{ index + 1 }}
                                </option>
                              </select>
                            </div>
                          </td>
                          <td>
                            <ul>
                              <li *ngFor="let item of getKeys(value)">
                                <strong>{{ item }}</strong
                                >:
                                <div
                                  *ngIf="
                                    typesOptions.includes(value.type) &&
                                    item === 'options'
                                  "
                                >
                                  <select
                                    class="form form-control"
                                    [id]="'options-' + indexValue.toString()"
                                    [name]="'options-' + indexValue.toString()"
                                  >
                                    <option *ngFor="let item of value.options">
                                      {{ item.value }}:
                                      {{ item.option }}
                                    </option>
                                  </select>
                                </div>
                                <div
                                  *ngIf="
                                    value.type === 'check' && item === 'options'
                                  "
                                >
                                  <select
                                    class="form form-control"
                                    [id]="'valueTrue' + indexValue"
                                    [name]="'valueTrue' + indexValue"
                                  >
                                    <option>
                                      valueTrue: {{ value.options.valueTrue }}
                                    </option>
                                    <option>
                                      valueFalse: {{ value.options.valueFalse }}
                                    </option>
                                  </select>
                                </div>
                                <div
                                  *ngIf="
                                    ![
                                      'selectFilter',
                                      'select_multiple',
                                      'selectDependiente',
                                      'select',
                                      'check'
                                    ].includes(value.type) || item !== 'options'
                                  "
                                >
                                  {{ getValue(item, value) | json }}
                                </div>
                              </li>
                            </ul>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-3"></div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Agregar Nueva Versión</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="modalForm">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input
          type="text"
          id="nombre"
          class="form-control"
          formControlName="nombre"
        />
      </div>
      <div class="mb-3">
        <label for="grupalNombre" class="form-label"
          >Nombre de la ficha Grupal</label
        >
        <input
          type="text"
          id="grupalNombre"
          class="form-control"
          formControlName="grupalNombre"
        />
      </div>
      <div class="mb-3">
        <label for="individualNombre" class="form-label">
          Nombre de la ficha individual
        </label>
        <input
          type="text"
          id="individualNombre"
          class="form-control"
          formControlName="individualNombre"
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.dismiss('Cancelado')"
    >
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="guardarNuevaVersion(modal)"
    >
      Guardar
    </button>
  </div>
</ng-template>

<ng-template #contentTipoFicha let-modalGrupo>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Agregar un nuevo tipo de ficha</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalGrupo.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="modalFormTipoFicha">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input
          type="text"
          id="nombre"
          class="form-control"
          formControlName="nombre"
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modalGrupo.dismiss('Cancelado')"
    >
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="guardarNuevoGrupo(modalGrupo)"
    >
      Guardar
    </button>
  </div>
</ng-template>
