    <div class="card-body">
      <div class="row">
        <div class="table-responsive">
          <div class="row mb-3 align-items-center">
            <div class="col-auto">
              <label class="me-2">Versión de la ficha:</label>
              <select
                class="form-select form-select-sm d-inline-block w-auto"
                [(ngModel)]="versionSeleccionada"
                (change)="cargarRegistros()"
              >
                <option value="">Seleccione</option>
                <option [value]="version.id" *ngFor="let version of versiones">
                  {{ version.nombre }}
                </option>
              </select>
            </div>
          </div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th *ngFor="let columna of obtenerColumnas()">
                  {{ columna | titlecase }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let registro of registros; let i = index">
                <td>{{ (paginaActual - 1) * registrosPorPagina + i + 1 }}</td>
                <td *ngFor="let columna of obtenerColumnas()">
                  {{ registro[columna] }}
                </td>
              </tr>
            </tbody>
          </table>

          <!-- Paginador unificado para carga masiva -->
          <app-botones-paginacion 
            *ngIf="paginationCarga"
            [dataPagination]="paginationCarga"
            (pageChanged)="onPageChanged($event)"
          ></app-botones-paginacion>
        </div>
      </div>
    </div>
