<form [formGroup]="formulario" (ngSubmit)="guardarVisibilidad()">
  <hr />
  <span class="text-bg-primary text-center">
    Visible con condici&oacute;n
  </span>
  <div>
    <label for="fichaTipoVisible">Tipo ficha</label>
    <select
      formControlName="fichaTipoVisible"
      id="fichaTipoVisible"
      class="form-control"
      (change)="cargarGrupos()"
    >
      <option value="">Seleccione</option>
      <option *ngFor="let tipo of tipoCards" [value]="tipo.nombre">
        {{ tipo.text }} - {{ tipo.tituloTexto }}
      </option>
    </select>
  </div>
  <div>
    <label for="grupoVisible">Seleccione el grupo</label>
    <select
      name="grupoVisible"
      formControlName="grupoVisible"
      id="grupoVisible"
      class="form form-control"
      (change)="filtrarGrupos($event.target)"
    >
      <option value="">Seleccione</option>
      <option *ngFor="let grupo of gruposVisiblesFiltrado" [value]="grupo.id">
        {{ grupo.title }}
      </option>
    </select>
  </div>
  <div>
    <label for="">Campo</label>
    <select name="" id="" formControlName="campo" class="form form-control">
      <option value="">Seleccione</option>
      <option *ngFor="let campos of camposVisibles" [value]="campos.columnName">
        {{ campos.label }}
      </option>
    </select>
  </div>
  <div>
    <label for="">Condici&oacute;n</label>
    <input
      *ngIf="tipoCampo !== 'calendar'"
      type="text"
      placeholder="En formato JSON"
      class="form form-control"
    />
    <input
      *ngIf="tipoCampo === 'calendar'"
      type="number"
      formControlName="rango_inicio"
      class="form form-control"
    />
    <input
      *ngIf="tipoCampo === 'calendar'"
      type="number"
      formControlName="rango_fin"
      placeholder="Rango de fin"
      class="form form-control"
    />
    <label for="condicion">Condicion incial</label>
    <select
      class="form form-control"
      name="condicion"
      id="condicion"
      formControlName="condicion"
    >
      <option value="">Seleccione</option>
      <option
        *ngFor="let condicion of condiciones"
        [value]="condicion.condition"
      >
        {{ condicion.text }}
      </option>
    </select>
    <label for="valorCondicion">Valor de la condicion</label>
    <input
      type="text"
      name="valorCondicion"
      id="valorCondicion"
      class="form form-control"
      formControlName="valorCondicion"
      required
    />
    <pre><code>{{regla|json}}</code><code>
&lbrace;
&quot;isDepent&quot;: true,
&quot;rules&quot;: [
&lbrace;
&quot;columnDepend&quot;: &quot;tipo_vivienda&quot;,
&quot;rule&quot;: &quot;=&quot;,
&quot;value&quot;: &quot;En arriendo&quot;
&rbrace;
],
&quot;isShow&quot;: true
&rbrace;
</code></pre>
  </div>
</form>
<table></table>
