<form [formGroup]="formulario" (ngSubmit)="guardarVisibilidad()">
  <hr />
  <span class="text-bg-primary text-center">
    Visible con condici&oacute;n
  </span>
  <div>
    <label for="fichaTipoVisible">Tipo ficha</label>
    <select
      formControlName="fichaTipoVisible"
      id="fichaTipoVisible"
      class="form-control"
    >
      <option value="">Seleccione</option>
      <option value="familyCard">Ficha Familiar</option>
      <option value="personCard">Ficha Personal</option>
    </select>
  </div>
  <div>
    <label for="grupoVisible">Seleccione el grupo</label>
    <select
      name="grupoVisible"
      formControlName="grupoVisible"
      id="grupoVisible"
      class="form form-control"
      (change)="filtrarGrupos($event.target)"
    >
      <option value="">Seleccione</option>
      <option *ngFor="let grupo of gruposVisiblesFiltrado" [value]="grupo.id">
        {{ grupo.title }}
      </option>
    </select>
  </div>
  <div>
    <label for="">Campo</label>
    <select
      name=""
      id=""
      formControlName="campo"
      class="form form-control"
    >
      <option value="">Seleccione</option>
      <option *ngFor="let campos of camposVisibles" [value]="campos.columnName">
        {{ campos.label }}
      </option>
    </select>
  </div>
  <div>
    <label for="">Condici&oacute;n</label>
    <input
      *ngIf="tipoCampo !== 'calendar'"
      type="text"
      placeholder="En formato JSON"
      class="form form-control"
    />
    <input
      *ngIf="tipoCampo === 'calendar'"
      type="number"
      formControlName="rango_inicio"
      class="form form-control"
    />
    <input
      *ngIf="tipoCampo === 'calendar'"
      type="number"
      formControlName="rango_fin"
      placeholder="Rango de fin"
      class="form form-control"
    />
    <pre><code>{{regla|json}}</code></pre>
    <pre *ngIf="false"><code>
&lbrace;
&quot;isDepent&quot;: true,
&quot;rules&quot;: [
&lbrace;
&quot;columnDepend&quot;: &quot;tipo_vivienda&quot;,
&quot;rule&quot;: &quot;=&quot;,
&quot;value&quot;: &quot;En arriendo&quot;
&rbrace;
],
&quot;isShow&quot;: true
&rbrace;
</code></pre>
  </div>
</form>
