<h1>Tarjetas registradas</h1>
<table *ngIf="forms" class="table table-hover">
  <thead>
    <tr>
      <th>Estado</th>
      <th>Version de tarjeta</th>
      <th>Codigo asignado</th>
      <th>Personas registradas</th>
      <th>Fecha de registro</th>
      <th>Fecha de envío</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let form of forms.data">
      <td>{{ form.status }}</td>
      <td>{{ form.data.version }}</td>
      <td>{{ form.data.code }}</td>
      <td>{{ form.data.data.personCard.length }}</td>
      <td>{{ form.data.dateRegister | date : "YYYY-MM-dd hh:mm a" }}</td>
      <td>{{ form.createdAt | date : "YYYY-MM-dd hh:mm a" }}</td>
    </tr>
  </tbody>
</table>
<app-botones-paginacion
  *ngIf="forms"
  [dataPagination]="forms"
  (pageChanged)="changePagination($event)"
></app-botones-paginacion>
