<div class="card">
  <div class="card-body">
    <h5 class="card-title">Tarjetas registradas</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      Las tarjetas registradas se suben a las 12:00 AM o de forma Automática.
    </h6>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group" role="group">
            <button
              [disabled]="isLoading"
              class="btn btn-primary"
              (click)="cargarTarjetasNoSubidas()"
            >
              <i class="bi bi-database-fill-gear"></i>
              Cargar tarjetas
            </button>
            <br />
            <a
              [href]="exportarTarjetas"
              target="_blank"
              class="btn btn-success"
            >
              <i class="bi bi-download"></i>
              Exportar excel
            </a>
          </div>
        </div>
        <div class="col-md-12">
          <span class="badge bg-warning text-dark" *ngIf="isLoading">
            Se están procesando las tarjetas
          </span>
        </div>
      </div>
      <table *ngIf="forms" class="table table-hover">
        <thead>
          <tr>
            <th>Caracterizador</th>
            <th>Estado</th>
            <th>Version de tarjeta</th>
            <th>Codigo asignado</th>
            <th>Personas registradas</th>
            <th>Fecha de registro</th>
            <th>Fecha de envío</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let form of forms.data">
            <td>
              {{ form.user.nombrePrimero }}
              {{ form.user.nombreSegundo }}
              {{ form.user.apellidoPrimero }}
              {{ form.user.apellidoSegundo }}
            </td>
            <td>{{ form.status }}</td>
            <td>{{ form.data.version }}</td>
            <td>{{ form.data.code }}</td>
            <td>{{ form.data.data.personCard.length }}</td>
            <td>
              <i class="bi bi-calendar3"></i>
              {{ form.data.dateRegister | date : "YYYY-MM-dd" }}<br />
              <i class="bi bi-stopwatch"></i>
              {{ form.data.dateRegister | date : "hh:mm a" }}
            </td>
            <td>
              <i class="bi bi-calendar3"></i>
              {{ form.createdAt | date : "YYYY-MM-dd" }}<br />
              <i class="bi bi-stopwatch"></i>
              {{ form.createdAt | date : "hh:mm a" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <app-botones-paginacion
      *ngIf="forms"
      [dataPagination]="forms"
      (pageChanged)="changePagination($event)"
    ></app-botones-paginacion>
  </div>
</div>
