<main>
  <div
    *ngIf="isShow"
    class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
    style="width: 280px"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
    >
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-4">Caracterización</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a
          routerLink="/users"
          class="nav-link text-white"
          [class]="getActiveClass('users')"
          aria-current="page"
        >
          <i class="bi bi-person-lines-fill"></i>
          Usuarios
        </a>
      </li>
      <li>
        <a
          routerLink="/forms"
          [class]="getActiveClass('forms')"
          class="nav-link text-white"
          aria-current="page"
        >
          <i class="bi bi-newspaper"></i>
          Formularios
        </a>
      </li>
      <li>
        <a
          routerLink="/pacientes"
          [class]="getActiveClass('pacientes')"
          class="nav-link text-white"
        >
          <i class="bi bi-person-lines-fill"></i>
          Pacientes
        </a>
      </li>
      <li>
        <a
          routerLink="/ficha"
          [class]="getActiveClass('ficha')"
          class="nav-link text-white"
        >
          <i class="bi bi-list-columns-reverse"></i>
          Informes
        </a>
      </li>
      <li>
        <a
          routerLink="/generador"
          [class]="getActiveClass('generador')"
          class="nav-link text-white"
        >
          <i class="bi bi-list-columns-reverse"></i>
          Generador de informe
        </a>
      </li>
    </ul>
    <hr />
    <div class="dropdown">
      <i class="bi bi-person"></i>
      <strong>{{ nombres }}</strong>
    </div>
    <div class="dropdown" (click)="cerrarSesion()" class="pointer-clic">
      <i class="bi bi-person-fill-slash"></i>
      <strong>Cerrar sesi&oacute;n</strong>
    </div>
  </div>
  <div class="p-4 container-fluid scrollarea">
    <router-outlet></router-outlet>
  </div>
</main>
