<main>
  <div
    *ngIf="isShow"
    class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar"
    [class.collapsed]="isSidebarCollapsed"
  >
    <div class="sidebar-header d-flex align-items-center">
      <a
        href="/"
        class="d-flex align-items-center mb-md-0 me-md-auto text-white text-decoration-none"
      >
        <span class="fs-4" [class.d-none]="isSidebarCollapsed"
          >Caracterización</span
        >
      </a>
      <button class="btn btn-link text-white ms-auto" (click)="toggleSidebar()">
        <i
          class="bi"
          [class.bi-chevron-left]="!isSidebarCollapsed"
          [class.bi-chevron-right]="isSidebarCollapsed"
        ></i>
      </button>
    </div>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a
          routerLink="/users"
          class="nav-link text-white"
          [class]="getActiveClass('users')"
          aria-current="page"
        >
          <i class="bi bi-person-lines-fill"></i>
          <span [class.d-none]="isSidebarCollapsed">Usuarios</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/forms"
          [class]="getActiveClass('forms')"
          class="nav-link text-white"
          aria-current="page"
        >
          <i class="bi bi-newspaper"></i>
          <span [class.d-none]="isSidebarCollapsed">Formularios</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/cargas"
          [class]="getActiveClass('cargas')"
          class="nav-link text-white"
        >
          <i class="bi bi-person-lines-fill"></i>
          <span [class.d-none]="isSidebarCollapsed">Carga Masiva</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/generador"
          [class]="getActiveClass('generador')"
          class="nav-link text-white"
        >
          <i class="bi bi-window-stack"></i>
          <span [class.d-none]="isSidebarCollapsed"
            >Generador de formularios</span
          >
        </a>
      </li>
      <li>
        <a
          routerLink="/ficha/informe"
          [class]="getActiveClass('ficha')"
          class="nav-link text-white"
        >
          <i class="bi bi-list-columns-reverse"></i>
          <span [class.d-none]="isSidebarCollapsed">Informes</span>
        </a>
      </li>
    </ul>
    <hr />
    <div class="dropdown">
      <i class="bi bi-person"></i>
      <strong [class.d-none]="isSidebarCollapsed">{{ nombres }}</strong>
    </div>
    <div class="dropdown pointer-clic" (click)="cerrarSesion()">
      <i class="bi bi-person-fill-slash"></i>
      <strong [class.d-none]="isSidebarCollapsed">Cerrar sesi&oacute;n</strong>
    </div>
  </div>
  <div class="p-4 container-fluid scrollarea">
    <router-outlet></router-outlet>
  </div>
</main>
