<div class="card" *ngIf="fichaFamiliar">
  <div class="card-header">Detalle de la tarjeta familiar</div>
  <div class="card-body" #contenidoPDF>
    <h1 *ngIf="!false">Datos de la ficha</h1>
    <table class="table" *ngIf="!false">
      <thead>
        <tr>
          <th>Versi&oacute;n</th>
          <th>C&oacute;digo</th>
          <th>Fecha de registro</th>
          <th>Fecha de creaci&oacute;n</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ fichaFamiliar.ficha.version }}</td>
          <td>{{ fichaFamiliar.ficha.codigo }}</td>
          <td>{{ fichaFamiliar.ficha.fecha_registro }}</td>
          <td>{{ fichaFamiliar.ficha.created_at }}</td>
        </tr>
      </tbody>
    </table>

    <h1 *ngIf="!false">Tarjeta familiar</h1>
    <table class="table" *ngIf="!false">
      <tbody>
        <ng-container
          *ngFor="let item of getKeys(fichaFamiliar.ficha.tarjetasFamiliares)"
        >
          <tr *ngIf="getLabelDescription(item)?.label">
            <td>{{ getLabelDescription(item)?.label }}</td>
            <td>
              {{ getValue(fichaFamiliar.ficha.tarjetasFamiliares, item) }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <h1>Registros personales</h1>
    <table class="table">
      <tbody>
        <ng-container
          *ngFor="let item of fichaFamiliar.ficha.psicosocialPersonas"
        >
          <ng-container *ngFor="let keyPerson of getKeysPerson(item)">
            <tr *ngIf="getLabelForm(keyPerson)?.label">
              <td>{{ getLabelForm(keyPerson)?.label }}</td>
              <td>
                {{ getValue(item.persona, keyPerson) }}
              </td>
            </tr></ng-container
          >
        </ng-container>
      </tbody>
    </table>

    <h1 *ngIf="!false">Registros Psicosociales</h1>
    <table *ngIf="false" class="table">
      <tbody>
        <ng-container
          *ngFor="let item of fichaFamiliar.ficha.psicosocialPersonas"
        >
          <ng-container *ngFor="let item2 of getKeys(item)">
            <tr>
              <td>{{ getLabelForm(item2)?.label }}</td>
              <td>
                {{ getValue(item, item2) }}
              </td>
            </tr></ng-container
          >
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
