<div class="card" *ngIf="fichaFamiliar">
  <div class="card-header">Detalle de la tarjeta familiar</div>
  <div class="card-body" #contenidoPDF>
    <h1>Datos de la ficha</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Versi&oacute;n</th>
          <th>C&oacute;digo</th>
          <th>Fecha de registro</th>
          <th>Fecha de creaci&oacute;n</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ fichaFamiliar.ficha.version }}</td>
          <td>{{ fichaFamiliar.ficha.codigo }}</td>
          <td>{{ fichaFamiliar.ficha.fecha_registro }}</td>
          <td>{{ fichaFamiliar.ficha.created_at }}</td>
        </tr>
      </tbody>
    </table>
    <h1>Tarjeta familiar</h1>
    <table class="table">
      <tbody>
        <ng-container
          *ngFor="let item of getKeys(fichaFamiliar.ficha.tarjetasFamiliares)"
        >
          <tr *ngIf="getLabel(item)?.label">
            <td>{{ getLabel(item)?.label }}</td>
            <td>
              {{ getValue(fichaFamiliar.ficha.tarjetasFamiliares, item) }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
