#tarjetas {
  width: 16.192cm;
  max-width: 16.192cm;
  font-size: 9px;
  table, tr, td, th {
    border: 1px solid;
  }
  td {
    padding: 5px 20px 5px 20px;
  }
  h1 {
    font-size: 15px;
  }
}
.text-title {
  width: 32%;
}