<div class="container-fluid">
  <form class="row" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div [className]="esCaracterizador ? 'col-md-8' : ''">
      <div class="card">
        <div class="card-header">
          <h1>Datos de usuario</h1>
        </div>
        <div class="card-body">
          <div class="row p-5">
            <div class="col-md-6">
              <label for="nombrePrimero">Primer Nombre</label>
              <input
                type="text"
                class="form-control"
                id="nombrePrimero"
                formControlName="nombrePrimero"
              />
              <div
                class="invalid-feedback"
                *ngIf="isInvalidInput('nombrePrimero')"
              >
                El primer nombre es obligatorio.
              </div>
            </div>

            <div class="col-md-6">
              <label for="nombreSegundo">Segundo Nombre</label>
              <input
                type="text"
                class="form-control"
                id="nombreSegundo"
                formControlName="nombreSegundo"
              />
            </div>

            <div class="col-md-6">
              <label for="apellidoPrimero">Primer Apellido</label>
              <input
                type="text"
                class="form-control"
                id="apellidoPrimero"
                formControlName="apellidoPrimero"
              />
              <div
                class="invalid-feedback"
                *ngIf="isInvalidInput('apellidoPrimero')"
              >
                El primer apellido es obligatorio.
              </div>
            </div>

            <div class="col-md-6">
              <label for="apellidoSegundo">Segundo Apellido</label>
              <input
                type="text"
                class="form-control"
                id="apellidoSegundo"
                formControlName="apellidoSegundo"
              />
            </div>

            <div class="col-md-4">
              <label for="documento">Documento</label>
              <input
                type="text"
                class="form-control"
                id="documento"
                formControlName="documento"
              />
              <div class="invalid-feedback" *ngIf="isInvalidInput('documento')">
                El documento es obligatorio.
              </div>
            </div>

            <div class="col-md-4">
              <label for="documentoTipoId">Tipo de Documento</label>
              <select
                class="form-control"
                id="documentoTipoId"
                formControlName="documentoTipoId"
              >
                <option value="">Seleccione el tipo de documento</option>
                <option
                  *ngFor="let documentoTipo of documentosTipos"
                  [value]="documentoTipo.id"
                >
                  {{ documentoTipo.nombre }}
                </option>
              </select>
              <div
                class="invalid-feedback"
                *ngIf="isInvalidInput('documentoTipoId')"
              >
                El tipo de documento es obligatorio.
              </div>
            </div>

            <div class="col-md-4">
              <label for="documentoTipoId">Roles</label>
              <select
                name="rolId"
                id="rolId"
                formControlName="rolId"
                class="form form-control"
                required
              >
                <option value="">Seleccione un rol</option>
                <option *ngFor="let rol of roles" [value]="rol.id">
                  {{ rol.type }}
                </option>
              </select>
              <div class="invalid-feedback" *ngIf="isInvalidInput('rolId')">
                El rol es obligatorio.
              </div>
            </div>

            <div class="col-md-6" *ngIf="isCreate">
              <label for="password">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="password"
                formControlName="password"
              />
              <div class="invalid-feedback" *ngIf="isInvalidInput('password')">
                La contraseña es obligatoria.
              </div>
              <div
                *ngIf="
                  userForm.get('password')?.hasError('minlength') &&
                  userForm.get('password')?.touched
                "
              >
                La contraseña debe tener al menos 6 caracteres.
              </div>
            </div>
            <div class="col-md-6" *ngIf="isCreate">
              <label for="passwordRepeat">Repita la contraseña</label>
              <input
                type="password"
                class="form-control"
                id="passwordRepeat"
                formControlName="passwordRepeat"
              />
              <div
                class="invalid-feedback"
                *ngIf="isInvalidInput('passwordRepeat')"
              >
                La contraseña es obligatoria.
              </div>
              <div
                *ngIf="
                  userForm.get('passwordRepeat')?.hasError('minlength') &&
                  userForm.get('passwordRepeat')?.touched
                "
              >
                La contraseña debe tener al menos 6 caracteres.
              </div>
            </div>

            <div class="col-md-4">
              <label for="inactivo">Estado</label>
              <select
                name="inactivo"
                id="inactivo"
                formControlName="inactivo"
                class="form form-control"
                (change)="onInactivoChange($event)"
                required
              >
                <option [value]="false">Activo</option>
                <option [value]="true">Inactivo</option>
              </select>
            </div>
            <div class="col-md-8 mt-4" *ngIf="siMostrarReiniciarContrasenna">
              <button
                type="button"
                class="btn btn-danger"
                (click)="abrirModal(modalConfirmacion)"
              >
                Reiniciar la contraseña
              </button>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button
            *ngIf="!isSaved"
            type="submit"
            class="btn btn-primary"
            [disabled]="isDisabledSave"
          >
            Guardar Usuario
          </button>
          <button
            *ngIf="isSaved"
            type="submit"
            class="btn btn-primary"
            [disabled]="true"
          >
            Guardando Usuario...
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4" *ngIf="esCaracterizador">
      <div class="card">
        <div class="card-header">
          <h1>C&oacute;digos</h1>
        </div>
        <div class="card-body row">
          <div class="col-md-6">
            <label for="">Ingrese el codigo inicial</label>
            <input
              type="text"
              id="codigoInicial"
              formControlName="codigoInicial"
              class="form form-control"
            />
            <div
              class="invalid-feedback"
              *ngIf="isInvalidInput('codigoInicial')"
            >
              El c&oacute;digo inicial es obligatorio.
            </div>
          </div>

          <div class="col-md-6">
            <label for="">Ingrese el c&oacute;digo final</label>
            <input
              type="text"
              id="codigoFinal"
              formControlName="codigoFinal"
              class="form form-control"
            />
            <div
              class="invalid-feedback"
              *ngIf="isInvalidInput('codigoInicial')"
            >
              El codigo inicial es obligatorio.
            </div>
          </div>

          <div class="col-md-12">
            <h2>C&oacute;digos</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Inicio</th>
                  <th>Fin</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let codigo of user.codigos">
                  <td>{{ codigo.start }}</td>
                  <td>{{ codigo.finish }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #modalConfirmacion let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirmar Reinicio de Contraseña</h4>
    <button type="button" class="btn close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    ¿Est&aacute; seguro de que desea reiniciar la contraseña de ese usuario?
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.dismiss('cancelar')"
    >
      No
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="reiniciarContrasenna(); modal.close('aceptar')"
    >
      Sí
    </button>
  </div>
</ng-template>
