<div class="dynamic-filters" *ngIf="tarjetaJson">
  <h1>Filtros Din&aacute;micos</h1>

  <form [formGroup]="filtrosForm" (ngSubmit)="agregarFiltro()">
    <div class="form-group row">
      <div class="col-md-2">
        <label for="tipoTarjeta">Nombre de la tarjeta</label>
        <select
          id="tipoTarjeta"
          formControlName="tipoTarjeta"
          class="form form-control"
          [ngClass]="{
            'is-invalid':
              filtrosForm.get('tipoTarjeta')?.invalid &&
              filtrosForm.get('tipoTarjeta')?.touched
          }"
        >
          <option value="">Seleccione</option>
          <option value="grupalData">
            {{ tarjetaJson.grupalNombre }}
          </option>
          <option value="individualData">
            {{ tarjetaJson.individualNombre }}
          </option>
        </select>
      </div>

      <div class="col-md-3">
        <label for="grupo">Grupo</label>
        <select
          id="grupo"
          formControlName="grupo"
          class="form form-control"
          [ngClass]="{
            'is-invalid':
              filtrosForm.get('grupo')?.invalid &&
              filtrosForm.get('grupo')?.touched
          }"
        >
          <option value="">Seleccione</option>
          <option *ngFor="let grupo of grupos" [value]="grupo.title">
            {{ grupo.title }}
          </option>
        </select>
      </div>

      <div class="col-md-2">
        <label for="pregunta">Pregunta</label>
        <select
          id="pregunta"
          formControlName="pregunta"
          class="form form-control"
          [ngClass]="{
            'is-invalid':
              filtrosForm.get('pregunta')?.invalid &&
              filtrosForm.get('pregunta')?.touched
          }"
        >
          >
          <option value="">Seleccione</option>
          <option
            *ngFor="
              let value of obtenerPreguntas(filtrosForm.get('grupo')?.value)
            "
            [value]="value.label"
          >
            {{ value.label }}
          </option>
        </select>
      </div>

      <div class="col-md-2">
        <label for="condicion">Condición</label>
        <select
          id="condicion"
          formControlName="condicion"
          class="form form-control"
          [ngClass]="{
            'is-invalid':
              filtrosForm.get('condicion')?.invalid &&
              filtrosForm.get('condicion')?.touched
          }"
        >
          >
          <option value="">Seleccione</option>
          <option
            *ngFor="let condicion of condiciones"
            [value]="condicion.condition"
          >
            {{ condicion.text }}
          </option>
        </select>
      </div>

      <div class="col-md-3">
        <label for="valor">Valor</label>
        <input
          class="form form-control"
          id="valor"
          type="text"
          formControlName="valor"
          [ngClass]="{
            'is-invalid':
              filtrosForm.get('valor')?.invalid &&
              filtrosForm.get('valor')?.touched
          }"
        />
      </div>

      <div class="col-md-3 mt-4">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="submit" class="btn btn-primary">
            <i class="bi bi-database-add"></i>
            Agregar Filtro
          </button>
          <button type="button" (click)="buscar()" class="btn btn-success">
            <i class="bi bi-search"></i>
            Buscar
          </button>
        </div>
      </div>
    </div>
  </form>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Opciones</th>
        <th>Tipo de tarjeta</th>
        <th>Grupo</th>
        <th>Pregunta</th>
        <th>Condici&oacute;n</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody *ngIf="filtros.length > 0">
      <tr *ngFor="let filtro of filtros; let i = index">
        <td>
          <button
            type="button"
            (click)="eliminarFiltro(i)"
            class="btn btn-danger"
          >
            Eliminar Filtro
          </button>
        </td>
        <td>
          {{ verTipoDeTarjeta(filtro.tipoTarjeta) }}
        </td>
        <td>
          {{ filtro.grupo }}
        </td>
        <td>
          {{ filtro.pregunta }}
        </td>
        <td>
          {{ verCondicion(filtro.condicion) }}
        </td>
        <td>
          {{ filtro.valor }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
